# Binaries and build artifacts
build/
bin/
*.exe
*.exe;
*.dll
*.so
*.dylib
/raspiducky
.agents
PROJECT.md


# Test binaries
*.test
*.out
coverage.out

# Go vendor directory (if used)
vendor/

# IDE / OS specific files
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~

# Local data & storage dir
data/
tmp/
